body {
    font-family: Arial, sans-serif;
    background-color: #3b3535;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 0,5cm;
    margin-right: 0,5cm;
    background-color: #f0f0f0;
    background: linear-gradient(to bottom, #b3aa82, #52523e);
}
.container {
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    background-color: #3f0a0a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(5, 5, 5, 0.1);
}
input[type="text"], input[type="number"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; 
}
#C {
    background-color: #101110; 
    border: none; 
    color: white;  
    padding: 10px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
}
.button:hover {
    background-color: #45a049; 
}
#l{
    background-color: #0d0f0d; 
    border: none; 
    color: white;  
    padding: 10px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
}
.button:hover {
    background-color: #45a049; 
}
.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

